/* Title style */
   #mainheading {
    text-decoration: bold;
    font-size: 40px
}

/* Main Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 20px;
    background: #181818 !important;
}
h1 {
    color: #ece9ff;
    font-size: 28px;
}
h2 {
    color: #ece9ff;
    font-size: 24px;
}
h3 {
    color: #ece9ff;
    font-size: 22px;
}
p {
    color: #ece9ff;
}




/* Image formatting */
img {
    border: 2px solid #333;
}
figcaption {
    color: #ece9ff;
}

