{% extends "header.html" %}


<!--This page serves as the homepage, it contains links to other pages on the site and
serves as an overview of the site-->


{% block content %}
{% load static %}
    <!--Home page main-->
    <h2>Da Stu's Dancing Style Homepage</h2>
    <p>
        Welcome to my ballroom dancing homepage. Here, I document some of the dances I've been
        learning so far in my ballroom dancing career.
    </p>

    <div class="row">
        <div class="col-md-8">
            <h3>What is the Difference Between Standard and Latin?</h3>
            <p>
            I've categorised each dance into the two broad categories of "Standard"
            ballroom dances and "Latin". The standard ballrooms tend to involve a stiffer
            and closer "frame" (how the two dancers hold eachother), and also usually involve
            the couple moving around the edges of the ballroom.
            </p>
            <p>
            Latin dances, however, usually have a looser frame and dancers tend to stay around
            the middle of the dance floor. Latin dances tend to have more hip movement and are danced
            to a wider variety of music.
            </p>
            <h3>What Does My Rating System Mean?</h3>
            <p>
                For each dance, I've provided a rating on the classic five-star scale. This rating doesn't attempt to
                provide an objective level of quality for each dance, but simply reflects my personal enjoyment of the
                dance. A five-star dance is one I find myself coming back to time and time again, whilst a one-star
                dance is one I rarely come back to, prefering others. It's not that I believe the one-star dance is bad
                but just that, for whatever reason, I don't personally enjoy it.
            </p>
        </div>
        <div class="col-md-4">
            <figure>
                <img src="{% static 'images/rumba.jpeg' %}" class = "img-fluid img-thumbnail" alt="">
                <figcaption>Professionals dance Rumba</figcaption>
            </figure>
        </div>
    </div>

{% endblock %}